form{
	padding: 20px;
    width: 300px;
    height: auto;
    background: #845ec2;
    color: white;
}
input{
    border:none;
    background:none;
    margin:20px auto;
    padding: 15px 8px;
    font-size: 1.3em;
    color: white;
    border-bottom:2px solid white;
    outline:none;
    font-family: inherit;
	width: stretch;
}
textarea{
    font-family: inherit;
	width: stretch;
	border:none;
	background:white;
	margin: 20px auto;
	padding: 15px 8px;
	font-size: 1.3em;
	color: black;
    border-bottom: 2px solid white;
    outline: none;
}
input[type="submit"]{
    border:none;
    background:none;
    outline:none;
    display:block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1.3em;
    border: 2px solid white;
    color: white;
}