form{
   padding: 20px;
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background: rgb(103, 89, 179);
    color: white;
}
input[type="text"], input[type="password"], input[type="email"]{
    border:none;
    background:none;
    display:block;
    margin:20px auto;
    padding: 15px 8px;
    font-size: 1.3em;
    color: white;
    border-bottom:2px solid white;
    outline:none;
}
input[type="submit"]{
    border:none;
    background:none;
    outline:none;
    display:block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1.3em;
    border: 2px solid white;
    color: white;
    
}